<div>
  <br /><br />
  <!-- input for the bank Account Number -->
  <label for="bankAccountNumber">Bank Account Number: </label>
  <input type="number" id="bankAccountNumber" [(ngModel)]="bankAccountNumber" />
  <br /><br />
  <!-- submit button and onClick run onSub Function -->
  <button type="button" class="btn btn-success" (click)="onSub()">
    Submit
  </button>
</div>
<!-- display cards after submit -->
<div
  style="display: flex; flex-wrap: nowrap; text-align: center; overflow-x: auto"
>
  <!-- loop the accountActions array -->
  <ng-container *ngFor="let item of accountActions">
    <!-- loop the operations array within each account -->
    <div
      *ngFor="let operation of item.operations"
      class="card border border-success shadow-0 mb-3"
      style="max-width: 18rem; margin: 15px 50px 0 10px"
    >
      <div class="card-header">{{ operation.type }}</div>
      <div class="card-body text-success">
        <h5 class="card-title">Account Number: {{ item.accountNumber }}</h5>
        <div class="card-text">
          <!-- pipe the fix the date -->
          <p>date : {{ operation.date | date : "dd/MM/yyyy" }}</p>
          <p>amount : {{ operation.amount | currency : "ILS" }}</p>
          <!-- conditional rendering shows only on loan-->
          <p *ngIf="operation.interest">
            interest: {{ operation.interest / 100 | percent : "1.1-2" }}
          </p>
          <p *ngIf="operation.payments">payments: {{ operation.payments }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
